appdirs
atomicwrites
backports.weakref
brotlipy
console
constantly
cssselect
django-request
flask
fonttools
inflection
jsonpointer
llvmlite
mpmath
munkres
mypy-extensions
openpyxl
pandas
patsy
pep8
pillow
pip-chill
ply
pyasn1-modules
pycurl
pydispatcher
pyjokes
pyls-spyder
pypdf2
pyqt5-sip
pytest
queuelib
scipy
torch
translate
webencodings
zict
